.recruitment-hero {
    position: relative;
    width: 100%;
}

.recruitment-registration-container {
    width:100%;
    height:100%;
    display:flex; 
    justify-content: center;
    align-items:center;
}

.recruitment-registration-text-container {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center; 
}

.recruitment-register-title {
    margin-top: 0;
    font-size: 64px;
    font-family: var(--font-family-inria-serif);
    font-weight: bold;
    margin-top: 100px;
    white-space: nowrap;
        color:black;
}

.recruitment-semester-subtitle {
    font-size: 32px;
    font-family: var(--font-family-thasadith);
    white-space: nowrap;
        color:black;
}

.recruitment-registration-image {
    height: 500px;
    object-fit: cover;
}

.recruitment-registration-button {
    position:absolute;
    font-size: 24px;
    font-family: var(--font-family-thasadith);
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black;
    color:black;

}