.tip-track {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.tip-track:hover {
  animation-play-state: paused;
}

/* Title styling */
.tip-title {
  font-family: 'Inria Serif', serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #000000; /* black */
}

/* Dots navigation styling */
.tip-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 8px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #717171;
}

.photo-slide {
  flex: 0 0 500px;
  margin: 0 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}