.awards {
    padding: 100px 150px;
    display: flex;
    gap: 75px;
  }
  
  .awards-content {
    flex-grow: 1;
  }
  
  .awards-list {
    width: 100%;
  }
  
  .award-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  
  .award-line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
  }
  
  .award-title {
    font-size: 40px;
    font-family: var(--font-family-thasadith);
    padding: 0 20px;
    text-align: center;
  }
  
  .expand-icon {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }