.organizations {
  padding: 4rem 0;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  background-color: #082c54;
  min-height: 80vh; /* Minimum height */
  height: auto /* Auto height for content */
}