.blue-bar {
  background-color: lightblue; /* Blue bar background */
  color: white;
  text-align: center;
  padding: 15px;
  height: 200px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sponsor-header {
  font-family: 'Times New Roman', serif;
  font-size: 2.5rem;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 1rem;
  /* color: black; gray-900 */
}

.sponsor-slider {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.sponsor-track {
  display: flex;
  gap: 40px;
  animation: scroll 10s linear infinite;
}

.sponsor-track img {
  height: 75px; /* Adjust for logo size */
  width: auto;
  display: inline-block;
  flex-shrink: 0;
}

.sponsor-track img.kpmg {
  transform: scale(1.4); 
  transform-origin: center;
  margin: 0 20px;
}

/* Animation for smooth scrolling effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}