.logo-container {
  position: relative;
  min-height: 600px;
  height: 60vh; /* Use viewport height for responsive scaling */
  margin: 2rem auto;
  width: 100vw; /* Set width to 100% of the viewport width */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  background-color: #082c54;
  overflow: hidden; /* Prevent logos from overflowing during animation */
}

.organization-logo {
  border-radius: 50%; /* Makes the logos circular */
  width: 160px; /* Set a fixed size for the logos */
  height: 160px; /* Ensure width and height are equal */
  object-fit: contain; /* Ensures the image fits within the circle */
  position: absolute;
  transition: transform 0.1s ease-out; /* optional for smooth movement */
  cursor: pointer;
  /*will-change: transform;*/
  z-index: 2;
  background-color: white;
  border: 2px solid #000; /* Adjust color and thickness as needed */
  box-sizing: border-box; /* Ensures the border is included in the element's total dimensions */
}

.impacted-organizations-text {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 0; /* top | right | bottom | left */
  padding: 0;
}

