.logo-container {
  position: relative;
  min-height: 600px;
  margin: 2rem auto;
  width: 100vw; /* Set width to 100% of the viewport width */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.organization-logo {
  border-radius: 50%; /* Makes the logos circular */
  width: 150px; /* Set a fixed size for the logos */
  height: 150px; /* Ensure width and height are equal */
  object-fit: contain; /* Ensures the image fits within the circle */
  position: absolute;
  /*transition: transform 0.1s linear; */
  cursor: pointer;
  /*will-change: transform;*/
  z-index: 2;
  background-color: white
}

.center-box {
  position: absolute;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  z-index: 1;
  pointer-events: none;
}

.center-box h2 {
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #333;
}

